
<head>
<meta charset="UTF-8">
<title>Registro de Personal</title>

<link href="static/css/abm.css" rel="stylesheet">
</head>

<!-- <button class="btn" ng-click="confirm(true)"></button> -->



<div id="md1" class="modal">
	<div class="modal-content">
		<h4>Por Favor confirme la eliminación</h4>
		<p>Estas seguro de eliminar la selección?</p>
	</div>
	<div class="modal-footer">
		<button href="#" class="btn-flat waves-effect waves-red"
			onclick="$('#md1').closeModal(); return false;">
			Cancelar <i class="material-icons left">cancel</i>
		</button>
		<button class="btn-flat waves-effect waves-green"
			ng-click="eliminarMasivo(personals);">
			Aceptar <i class="material-icons left">delete_forever</i>
		</button>
	</div>

</div>
<!-- Fin Modal -->


<div class="row">

	<div class="col s3"></div>
	
	<div class="col s6">
		<ul class="tabs">
			<li class="tab col s1">
			<a class="active blue-text darken-2" href="#registro">
			<i class="material-icons prefix">playlist_add</i>
			Registro de Personal
			</a>
		
			</li>
			<li class="tab col s1">
			<a class="blue-text darken-2" href="#listado1">
			<i class="material-icons prefix">library_books</i>
			Listado de Personales
			</a>
			
			</li>
		
		</ul>
	</div>
	<div class="col s3"></div>


	
	
	
		<div id="registro" class="col s12">
		<div class="row">
			
			<ul>
			
			<li>
			<a class="blue-text darken-2" href="/enterprisesoft/personal/reporte_personal/?format=pdf" target="_blank">
			<i class="material-icons">picture_as_pdf</i>
			Listado en Pdf
			</a>
			</li>
			<li>
			<a class="blue-text darken-2" href="/enterprisesoft/personal/reporte_personal/?format=xlsx" target="_blank">
			<i class="material-icons left">view_list</i>
			Listado en Excel
			</a>
			</li>
			
			</ul>
			
			<div class="col s2"></div>

<!--  name="registrationForm"  novalidate="novalidate" name="registrationForm"-->

			<form class="col s8" id="registroform" >


				<div class="card-panel">
					<div class="row">
						
<!-- 						Elementos de persona -->
						
						        <div class="input-field col s4">
          <input  id="nombre" type="text"  ng-model="personal.nombre" name="nombre">
         <label  for="nombre" data-success="ok">Nombre</label>
        </div>
        <div class="input-field col s4">
          <input id="apellido" value="" type="text" class="validate" ng-model="personal.apellido" name="apellido">
         <label for="apellido">Apellido</label>
        </div>
       
           <div class="input-field col s4">
          <input id="direccion" type="text" class="validate" ng-model="personal.direccion" name="direccion">
         <label for="direccion">Direccion</label>
        </div>

		<div class="input-field col s4">
          <input id="ci" type="text" class="validate" ng-model="personal.ci" name="ci">
         <label for="ci">Cédula</label>
        </div>
		  
        <div class="input-field col s4">
          <input id="telefono" type="tel" class="validate" ng-model="personal.telefono" name="telefono">
         <label class="active" for="telefono">Telefono</label>
        </div>
        
        <div class="input-field col s4">
          <input id="celular" type="tel" class="validate" ng-model="personal.celular" name="celular">
         <label class="active" for="celular">Celular</label>
        </div>
        
        <div class="input-field col s4">
          <input id="email" type="email" class="validate" ng-model="personal.email" name="email">
         <label  for="email"  data-success="ok">Correo</label>
        </div>
						
<!-- 						Fin de elementos de persona -->
						
						
						
						
						
							
							
						    <div class="input-field col s4">
          <input id="fecha_nacimiento" type="date" class="validate" ng-model="personal.fecha_nacimiento" name="fecha_nacimiento">
         <label  for="fecha_nacimiento"  data-success="ok">Fecha de Nacimiento</label>
        </div>
				
			<div class="input-field col s4">
          <input id="nacionalidad" type="text" class="validate" ng-model="personal.nacionalidad" name="nacionalidad">
         <label for="nacionalidad">Nacionalidad</label>
        </div>	
        
        <div class="input-field col s4">
          <input id="estadocivil" type="text" class="validate" ng-model="personal.estadoCivil" name="estadocivil">
         <label for="estadocivil">Estado Civil</label>
        </div>
        
        <div class="input-field col s4">
							<input id="obs" type="text" class="validate"
								ng-model="personal.obs" name="obs"/> 
								<label for="obs">Observación</label>
						</div>
				
						<div class="col s4">
							<p>
								<input class="with-gap" value="m" name="sexo"
									ng-model="personal.sexo" type="radio" id="sexo1" /> <label
									for="sexo1">Masculino</label>
							</p>
							<p>
								<input class="with-gap" value="f" name="sexo"
									ng-model="personal.sexo" type="radio" id="sexo2" /> <label
									for="sexo2">Femenino</label>
							</p>
						</div>
						
						<div class="col s4">
							<p>
								<input class="with-gap" value="activo" name="estado"
									ng-model="personal.estado" type="radio" id="estado1" /> <label
									for="estado1">Estado Activo</label>
							</p>
							<p>
								<input class="with-gap" value="inactivo" name="estado"
									ng-model="personal.estado" type="radio" id="estado2" /> <label
									for="estado2">Estado Inactivo</label>
							</p>
						</div>
						


						
						
						
						
					</div>


				
				</div>
				<!-- Fin Card Panel -->
				<button class="btn waves-effect waves-light" type="submit"
					name="action" ng-click="registrar(personal)">
					Registrar <i class="material-icons left">save</i>

				</button>
				<button class="btn waves-effect orange darken-4" type="button"
					name="action" ng-click="cancelar()">
					Cancelar <i class="material-icons left">cancel</i>
				</button>






				
			
				<div id="emensaje_sistema" ng-class="{'error':error}">
				
				<div ng-class="{'etitulo':error}" id="etitulo">
				
				</div>
				<div ng-class="{'emsj':error}" id="emsj">
				</div>
			
				
				
				</div>
				
				
				<div id="mensaje_sistema" ng-class="{'ok':ok}" >
				
				<div ng-class="{'titulo':ok}" id="titulo">
				
				
				
				</div>
				<div ng-class="{'msj':ok}" id="msj">
				</div>
			
				
				
				</div>
				
				
				
				


			</form>
				
			
			
			
							
			

			<div class="col s2"></div>
		</div>
		<!-- Fin Row abm -->



<!-- <div class="card-panel" ng-show="registrationForm.pass1.$error"> -->
		
<!-- 				Escriba la contrasena -->
<!-- 	</div> -->

	</div>
	<!--     fin test pestaña1 -->
	
	
	
	<div id="listado1" class="col s12">

		<div class="row">

				<div class="input-field col s4">
					<input id="search" type="search" required
						ng-model="criterioDeBusca"> <label for="search"><i
						class="material-icons">search</i></label> <i class="material-icons"
						ng-click="criterioDeBusca=''">close</i>
				</div>
			
			<div class="col s4" style="margin-top: 24px;">
			<button ng-disabled="!isPersonalSeleccionado(personals)"
					class="btn waves-effect red mymodal" href="#md1">
					Eliminar <i class="material-icons left">delete</i>
				</button>
			</div>
			
			<div class="col s12">

       
				<table class="bordered responsive-table"
					ng-show="personals.length > 0">
					<thead>
						<tr>
							<th>Eliminar</th>
							<th><a href="" ng-click="ordenarPor('id')">Codigo</a></th>
							<th><a href="" ng-click="ordenarPor('nombre')">Nombre</a></th>
							<th><a href="" ng-click="ordenarPor('apellido')">Apellido</a></th>
							<th><a href="" ng-click="ordenarPor('direccion')">Dirección</a></th>
							<th><a href="" ng-click="ordenarPor('ci')">CI</a></th>
							<th><a href="" ng-click="ordenarPor('telefono')">Telefono</a></th>
							<th><a href="" ng-click="ordenarPor('celular')">Celular</a></th>
							<th><a href="" ng-click="ordenarPor('email')">Email</a></th>
							<th><a href="" ng-click="ordenarPor('estado')">Estado</a></th>
							<th><a href="" ng-click="ordenarPor('sexo')">Sexo</a></th>
							<th><a href="" ng-click="ordenarPor('fecha_nacimiento')">Fecha de Nacimiento</a></th>
							<th><a href="" ng-click="ordenarPor('nacionalidad')">Nacionalidad</a></th>
							<th><a href="" ng-click="ordenarPor('estadoCivil')">Estado Civil</a></th>
							<th>Observación</th>
							<th>Editar</th>
						</tr>
					</thead>

					<tbody>

						<tr ng-class="{'seleccionado negrita':personal.seleccionado}"
							ng-repeat="personal in personals | filter:criterioDeBusca | orderBy:criterioDeOrdenacion:direccionDeOrdenacion">
							<td><p>
									<input type="checkbox" id="{{personal.id}}"
										ng-model="personal.seleccionado" /><label
										for="{{personal.id}}"></label>
								</p></td>
								
								
							<td>{{personal.id}}</td>
							<td>{{personal.nombre}}</td>
							<td>{{personal.apellido}}</td>
							<td>{{personal.direccion}}</td>
							<td>{{personal.ci}}</td>
							<td>{{personal.telefono}}</td>
							<td>{{personal.celular}}</td>
							<td>{{personal.email}}</td>
							<td>{{personal.estado}}</td>
							<td>{{personal.sexo}}</td>
							<td>{{personal.fecha_nacimiento}}</td>
							<td>{{personal.nacionalidad}}</td>
							<td>{{personal.estadoCivil}}</td>
							<td>{{personal.pass}}</td>
							<td>{{personal.obs}}</td>
							<td ng-click="editarPersonal(personal)"><i
								class="material-icons">create</i></td>
						</tr>



					</tbody>
				</table>


			</div>

		</div>


	</div>
	<!--     fin pestaña 2 -->
	
	
	
	
	
	
	

</div>
<!--   fin row tab -->


<script type="text/javascript" src="static/js/jquery.validate.min.js"></script>

<script type="text/javascript" src="static/view/personal/jvalidator.js"></script>

