
<head>
<meta charset="UTF-8">
<title>Registro de Salario</title>

<link href="static/css/abm.css" rel="stylesheet">
</head>

<!-- <button class="btn" ng-click="confirm(true)"></button> -->



<div id="md1" class="modal">
	<div class="modal-content">
		<h4>Por Favor confirme la eliminación</h4>
		<p>Estas seguro de eliminar la selección?</p>
	</div>
	<div class="modal-footer">
		<button href="#" class="btn-flat waves-effect waves-red"
			onclick="$('#md1').closeModal(); return false;">
			Cancelar <i class="material-icons left">cancel</i>
		</button>
		<button class="btn-flat waves-effect waves-green"
			ng-click="eliminarMasivo(salarios);">
			Aceptar <i class="material-icons left">delete_forever</i>
		</button>
	</div>

</div>
<!-- Fin Modal -->


<div class="row">

	<div class="col s3"></div>

	<div class="col s6">
		<ul class="tabs">
			<li class="tab col s1"><a class="active blue-text darken-2"
				href="#registro"> <i class="material-icons prefix">playlist_add</i>
					Registro de Salario
			</a></li>
			<li class="tab col s1"><a class="blue-text darken-2"
				href="#listado1"> <i class="material-icons prefix">library_books</i>
					Listado de Salarios
			</a></li>

		</ul>
	</div>
	<div class="col s3"></div>





	<div id="registro" class="col s12">
		<div class="row">

			<ul>

				<li><a class="blue-text darken-2"
					href="/enterprisesoft/salario/reporte_salario/?format=pdf"
					target="_blank"> <i class="material-icons">picture_as_pdf</i>
						Listado en Pdf
				</a></li>
				<li><a class="blue-text darken-2"
					href="/enterprisesoft/salario/reporte_salario/?format=xlsx"
					target="_blank"> <i class="material-icons left">view_list</i>
						Listado en Excel
				</a></li>

			</ul>

			<div class="col s2"></div>

			<!--  name="registrationForm"  novalidate="novalidate" name="registrationForm"-->

			<form class="col s8" id="registroform">


				<div class="card-panel">
					<div class="row">

						<!-- 						Elementos de salario -->

						<div class="input-field col s4">
							<input id="descripcion" type="text"
								ng-model="salario.descripcion" name="descripcion"> <label
								for="descripcion" data-success="ok">Descripción</label>
						</div>
						<div class="input-field col s4">
							<input id="monto" type="number" class="validate"
								ng-model="salario.monto" name="monto"> <label
								for="monto" data-success="ok">Monto</label>
						</div>

						<!-- 						Fin de elementos de salario -->

					</div>



				</div>
				<!-- Fin Card Panel -->
				<button class="btn waves-effect waves-light" type="submit"
					name="action" ng-click="registrar(salario)">
					Registrar <i class="material-icons left">save</i>

				</button>
				<button class="btn waves-effect orange darken-4" type="button"
					name="action" ng-click="cancelar()">
					Cancelar <i class="material-icons left">cancel</i>
				</button>

				<div id="emensaje_sistema" ng-class="{'error':error}">

					<div ng-class="{'etitulo':error}" id="etitulo"></div>
					<div ng-class="{'emsj':error}" id="emsj"></div>

				</div>


				<div id="mensaje_sistema" ng-class="{'ok':ok}">

					<div ng-class="{'titulo':ok}" id="titulo"></div>
					<div ng-class="{'msj':ok}" id="msj"></div>



				</div>






			</form>







			<div class="col s2"></div>
		</div>
		<!-- Fin Row abm -->



		<!-- <div class="card-panel" ng-show="registrationForm.pass1.$error"> -->

		<!-- 				Escriba la contrasena -->
		<!-- 	</div> -->

	</div>
	<!--     fin test pestaña1 -->



	<div id="listado1" class="col s12">

		<div class="row">

			<div class="input-field col s4">
				<input id="search" type="search" required ng-model="criterioDeBusca">
				<label for="search"><i class="material-icons">search</i></label> <i
					class="material-icons" ng-click="criterioDeBusca=''">close</i>
			</div>

			<div class="col s4" style="margin-top: 24px;">
				<button ng-disabled="!isSalarioSeleccionado(salarios)"
					class="btn waves-effect red mymodal" href="#md1">
					Eliminar <i class="material-icons left">delete</i>
				</button>
			</div>

			<div class="col s12">


				<table class="bordered responsive-table"
					ng-show="salarios.length > 0">
					<thead>
						<tr>
							<th>Eliminar</th>
							<th><a href="" ng-click="ordenarPor('descripcion')">Descripción</a></th>
							<th><a href="" ng-click="ordenarPor('monto')">Monto</a></th>
							<th>Editar</th>
						</tr>
					</thead>

					<tbody>

						<tr ng-class="{'seleccionado negrita':salario.seleccionado}"
							ng-repeat="salario in salarios | filter:criterioDeBusca | orderBy:criterioDeOrdenacion:direccionDeOrdenacion">
							<td><p>
									<input type="checkbox" id="{{salario.id}}"
										ng-model="salario.seleccionado" /><label for="{{salario.id}}"></label>
								</p></td>


							<td>{{salario.descripcion}}</td>
							<td>{{salario.monto}}</td>
							<td ng-click="editarSalario(salario)"><i
								class="material-icons">create</i></td>
						</tr>



					</tbody>
				</table>


			</div>

		</div>


	</div>
	<!--     fin pestaña 2 -->








</div>
<!--   fin row tab -->


<script type="text/javascript" src="static/js/jquery.validate.min.js"></script>

<script type="text/javascript" src="static/view/salario/jvalidator.js"></script>

